.containerUser {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* margin-left: 10px; */
}

.userCard {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    /* Ancho total de la tarjeta */
    background-color: #f9f9f9;
    border: 5px purple solid;
    /* border-radius: 8px; */
    /* padding: 20px; */
    /* margin: 10px; */
    /* margin-left: 10px; */
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userInfo {
    margin: 10px;
}